.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}
.loginForm-container {
  border-style: solid;
  border-width: 2px;
  border-color: #2196f3;
  border-radius: 15px;
  padding: 15px;
}
.gif-container {
  align-self: center;
}

.gif {
  width: 250px;
  height: 250px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  color: white;
}

.userName {
  background-color: transparent;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  color: #2196f3;
  background-color: #ffffff;
  width: 270px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.userNameInput {
  background-color: transparent;
  border-width: 0px;
  color: #2196f3;
  outline: none;
}
.password {
  background-color: transparent;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 15px;
  margin: 5px;
  color: #2196f3;
  background-color: #ffffff;
  width: 270px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.passwordInput {
  background-color: transparent;
  border-width: 0px;
  color: #2196f3;
  outline: none;
}

.span {
  font-size: 2px;
}

.showBtn {
  background-color: transparent;
  color: #2196f3;
  border-width: 0px;
}

.loginBtn {
  background-color: #2196f3;
  color: #ffffff;
  width: 270px;
  border-width: 0px;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.heading {
  color: #2196f3;
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

@media screen and (max-width: 576px) {
  .app-container {
    flex-direction: column;
    justify-content: center;
  }
  .login-container {
    flex-direction: column;
  }
  .heading {
    font-size: 40px;
  }

  .form {
    margin-top: 20px;
  }
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
  margin-left: 12px;
}
